extends ./layout

block css
	link(href='css/style.css', rel='stylesheet')

block content
	.container
		.row
			br
			.jumbotron
				h1.usename= user.username
				img#avatar(src= user.image)
		.row
			button.logout log Out

block js

	script(src='js/profiles.js')